@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


:root {
  font-family:'Righteous', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: rgba(8, 39, 85, 0.87);
  color: rgba(8, 39, 85, 0.87);
  background-color: #f3dbdb;
  background-image: repeating-linear-gradient(0deg, rgba(236, 149, 193, 0.836) 0px, rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 20px),
                  repeating-linear-gradient(90deg,  rgba(236, 149, 193, 0.836) 0px, rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 20px);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

nav{
  align-items: start;
  display: flex;
  padding: 8px;
  background-color: #ee8ad093;

h1 {
  flex-grow: 1;
}

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
}

h4 {
  color: rgba(8, 39, 85, 0.87);
  font-size: 1em;
  line-height: 2;

}

button {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Righteous', sans-serif;
  border: 10px solid #f358ade8; 
  background-color: #e2858500; 
  cursor: pointer;
  transition: border-color 1s;
}
button:hover {
  border-color: #ebafe1;
}

