@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  font-family: 'Righteous', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #091133;
  background-color: #f8c7d4;
  background-image: repeating-linear-gradient(0deg, rgba(236, 149, 193, 0.836) 0px, rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 20px),
    repeating-linear-gradient(90deg, rgba(236, 149, 193, 0.836) 0px, rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 20px);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  align-items: start;
  display: flex;
  padding: 4px;
  background-color: #f593a0;
  height: 85px;
}

nav h1 {
  flex-grow: 1;
}

nav a {
  display: flex;
  align-items: center;
  padding: 8px;
  color: #d62276;
  text-decoration: none;
  cursor: url('./assets/1heart-cursor.png') 16 16, pointer;
}

nav div {
  align-items: end;
  display: flex;
  padding-top: 4px;
  height: 90px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  color: #091133;
  font-size: 1em;
  line-height: 2;
}

div.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}

.start-button {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Righteous', sans-serif;
  border: 10px solid #f358ad;
  background-color: rgba(226, 133, 133, 0.1);
  cursor: url('./assets/icon-heart.png') 16 16, pointer;
  transition: border-color 1s;
}

button:hover {
  border-color: #ebafe1;
}

footer {
  padding: 4px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #ecd2bb;
}
